<p id="notice"><%= notice %></p>


<div id="actions">
	<% unless user_signed_in? %>
		Please <%= link_to "log in", new_user_session_path %> to vote.<br/>
	<% else %>

	  <% voted = current_user.vote_value(@project) %>
		
		<% if voted != :up %>
		  <%= link_to "Vote up", vote_up_project_path(@project) %>
		<% else %>
		  Vote up
		<% end %>
		|
		<% if voted != :down %>
		  <%= link_to "Vote down", vote_down_project_path(@project) %>
		<% else %>
		  Vote down
		<% end %>

  	<% if voted %>
  	  |
  		<%= link_to "Unvote", unvote_project_path(@project) %>
  	<% end %>
	<% end %>
</div>
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Libraries:</b>
  <%= @project.libraries %>
</p>

<p>
  <b>Repository:</b>
  <%= @project.repository %>
</p>

<p>
  <b>Live url:</b>
  <%= @project.live_url %>
</p>
 <div class="votes-count">
	<div class="count">
		<%= @project.votes_count %>
	</div>
	<div>Votes</div>
</div>

<div class="votes-count">
	<div class="count">
		<%= @project.up_votes_count %>
	</div>
	<div>Up</div>
</div>

<div class="votes-count">
	<div class="count">
		<%= @project.down_votes_count %>
	</div>
	<div>Down</div>
</div>

<div class="votes-point <%= @project.votes_point >= 0 ? :positive : :negative %>">
	<div class="count">
		<%= @project.votes_point %>
	</div>
	<div>Point</div>
</div>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
