  <%= @project.user.name %>    

<p id="notice"><%= notice %></p>
<p><%= render :partial => 'vote' , :locals => { :project => @project }  %></p>  
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Libraries:</b>
  <%= @project.libraries %>
</p>

<p>
  <b>Repository:</b>
  <%= @project.repository %>
</p>

<p>
  <b>Live url:</b>
  <%= @project.live_url %>
</p>
<p>  <b>Votes:</b>                                    
			<%= @project.up_votes_count %>
</p>

<% if @project.user==current_user %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %> |
<%= link_to 'Back', projects_path %>
