<!DOCTYPE html>
<html>
<head>
  <title>CodeAwards</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "fancybox" %>
  <%= csrf_meta_tags %>
</head>
<body>                
  
    <div class="container">
        <div class="sixteen columns">
          <ul class="hmenu">
		 <% if user_signed_in? %>
		Hello, 	<%= current_user.name %>  
		<% end %>
            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
          </ul>
<h1 id="the_code_awards_owf">The Code Awards @ OWF</h1>     
            <hr />
        </div>
        <div class="one-third column">
            <p><%= render 'layouts/presentation' %></p>
        </div>
        <div class="one-third column">
             <%= yield %>     
        </div>
        <div class="one-third column">
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          <%- end -%>

        </div>

    </div><!-- container -->
</body>
</html>
